body{
    background-color: blueviolet;
}

h1 {
    text-align: center;
    color: goldenrod;
}

img{
    border: 4px solid goldenrod;
    margin: 20px;
}

h2{
    color: pink;
}

#description{
    padding: 20px;
    border: 4px dotted goldenrod;
} 

.ingredients-section{
    background-color: aquamarine;
    padding: 10px;
}

.ingredients-section li{
    color: salmon;
}

a{
    text-decoration: none;
    color: red;
}

h1 + h2{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.more-recipes>ul{
    list-style-type: none;
}